In [7]:
import pandas as pd
import numpy as np

In [88]:
df = pd.read_csv("annual_enterprise.csv")
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50985 entries, 0 to 50984
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         50985 non-null  int64
 1   Industry_aggregation_NZSIOC  50985 non-null  object
 2   Industry_code_NZSIOC         50985 non-null  object
 3   Industry_name_NZSIOC         50985 non-null  object
 4   Units                        50985 non-null  object
 5   Variable_code                50985 non-null  object
 6   Variable_name                50985 non-null  object
 7   Variable_category            50985 non-null  object
 8   Value                        50985 non-null  object
 9   Industry_code_ANZSIC06       50985 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB

In [13]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...

In [14]:
df.tail()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [28]:
m = df['Industry_aggregation_NZSIOC']
m

0        Level 1
1        Level 1
2        Level 1
3        Level 1
4        Level 1
          ...
50980    Level 3
50981    Level 3
50982    Level 3
50983    Level 3
50984    Level 3
Name: Industry_aggregation_NZSIOC, Length: 50985, dtype: object

In [20]:
df.describe()

               Year
count  50985.000000
mean    2018.000000
std        3.162309
min     2013.000000
25%     2015.000000
50%     2018.000000
75%     2021.000000
max     2023.000000

In [25]:
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [26]:
df.iloc[2:]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
5,2023,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,55267,ANZSIC06 divisions A-S (excluding classes K633...
6,2023,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,7426,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [27]:
df.isnull().sum()

Year                           0
Industry_aggregation_NZSIOC    0
Industry_code_NZSIOC           0
Industry_name_NZSIOC           0
Units                          0
Variable_code                  0
Variable_name                  0
Variable_category              0
Value                          0
Industry_code_ANZSIC06         0
dtype: int64

In [29]:
df.iloc[2:,2:-3]

,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name
2,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations"
3,99999,All industries,Dollars (millions),H07,Non-operating income
4,99999,All industries,Dollars (millions),H08,Total expenditure
5,99999,All industries,Dollars (millions),H09,Interest and donations
6,99999,All industries,Dollars (millions),H10,Indirect taxes
...,...,...,...,...,...
50980,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio
50981,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale
50982,ZZ11,Food product manufacturing,Percentage,H39,Return on equity
50983,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets
50984,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure

In [35]:
l = df['Industry_code_ANZSIC06'].nunique
l

<bound method IndexOpsMixin.nunique of 0        ANZSIC06 divisions A-S (excluding classes K633...
1        ANZSIC06 divisions A-S (excluding classes K633...
2        ANZSIC06 divisions A-S (excluding classes K633...
3        ANZSIC06 divisions A-S (excluding classes K633...
4        ANZSIC06 divisions A-S (excluding classes K633...
                               ...
50980    ANZSIC06 groups C111, C112, C113, C114, C115, ...
50981    ANZSIC06 groups C111, C112, C113, C114, C115, ...
50982    ANZSIC06 groups C111, C112, C113, C114, C115, ...
50983    ANZSIC06 groups C111, C112, C113, C114, C115, ...
50984    ANZSIC06 groups C111, C112, C113, C114, C115, ...
Name: Industry_code_ANZSIC06, Length: 50985, dtype: object>

In [36]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
50980    False
50981    False
50982    False
50983    False
50984    False
Length: 50985, dtype: bool

In [38]:
df.describe()

               Year
count  50985.000000
mean    2018.000000
std        3.162309
min     2013.000000
25%     2015.000000
50%     2018.000000
75%     2021.000000
max     2023.000000

In [42]:
df = df.rename(columns = {'Industry_name_NZSIOC':'Nzsioc'})

In [43]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Nzsioc,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...

In [47]:
c  = df['Industry_aggregation_NZSIOC'].max()
c

'Level 4'

In [49]:
df1 = pd.read_csv('Virat-Kohli-International-Cricket-Centuries.csv')

In [51]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No.       80 non-null     int64
 1   Runs      80 non-null     object
 2   Against   80 non-null     object
 3   Position  80 non-null     int64
 4   Innings   80 non-null     int64
 5   Venue     80 non-null     object
 6   Ground    79 non-null     object
 7   Date      80 non-null     object
 8   Result    80 non-null     object
dtypes: int64(3), object(6)
memory usage: 5.8+ KB

In [52]:
k = df1['No.'].mean()
k

40.5

In [61]:
r = df1['No.'].median()
r

40.5

In [58]:
df1.select_dtypes(include=['number']).corr()

               No.  Position   Innings
No.       1.000000 -0.274009 -0.182706
Position -0.274009  1.000000  0.287634
Innings  -0.182706  0.287634  1.000000

In [73]:
df1.isnull().sum()

No.         0
Runs        0
Against     0
Position    0
Innings     0
Venue       0
Ground      1
Date        0
Result      0
dtype: int64

In [83]:
df1.fillna('unknown')

,No.,Runs,Against,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won
...,...,...,...,...,...,...,...,...,...
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,20-Jul-23,Drawn
76,77,122*,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,11-Sep-23,Won
77,78,103*,Bangladesh,3,2,"Maharashtra Cricket Association Stadium,Â Pune",Home,19-Oct-23,Won
78,79,101*,South Africa,3,1,"Eden Gardens, Kolkata",unknown,05-Nov,Won
79,80,117,New Zealand,3,1,"Wankhede Stadium, Mumbai",Home,15-Nov-23,Won

In [89]:
df.isnull().sum()

Year                           0
Industry_aggregation_NZSIOC    0
Industry_code_NZSIOC           0
Industry_name_NZSIOC           0
Units                          0
Variable_code                  0
Variable_name                  0
Variable_category              0
Value                          0
Industry_code_ANZSIC06         0
dtype: int64

In [91]:
df.index

RangeIndex(start=0, stop=50985, step=1)

In [92]:
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [93]:
df.to_numpy()

array([[2023, 'Level 1', '99999', ..., 'Financial performance', '930995',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2023, 'Level 1', '99999', ..., 'Financial performance', '821630',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2023, 'Level 1', '99999', ..., 'Financial performance', '84354',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       ...,
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '12',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119'],
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '5',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119'],
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '46',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119']],
      dtype=object)

In [95]:
m1 = df.T
m1

,0,1,2,3,4,5,6,7,8,9,...,50975,50976,50977,50978,50979,50980,50981,50982,50983,50984
Year,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,...,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013
Industry_aggregation_NZSIOC,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,...,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3
Industry_code_NZSIOC,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,...,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11
Industry_name_NZSIOC,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,...,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing
Units,Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),...,Dollars (millions),Dollars (millions),Dollars,Dollars,Percentage,Percentage,Percentage,Percentage,Percentage,Percentage
Variable_code,H01,H04,H05,H07,H08,H09,H10,H11,H12,H13,...,H32,H33,H34,H35,H36,H37,H38,H39,H40,H41
Variable_name,Total income,"Sales, government funding, grants and subsidies","Interest, dividends and donations",Non-operating income,Total expenditure,Interest and donations,Indirect taxes,Depreciation,Salaries and wages paid,Redundancy and severance,...,Current liabilities,Other liabilities,Total income per employee count,Surplus per employee count,Current ratio,Quick ratio,Margin on sales of goods for resale,Return on equity,Return on total assets,Liabilities structure
Variable_category,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,...,Financial position,Financial position,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios
Value,930995,821630,84354,25010,832964,55267,7426,30814,147663,269,...,"10,212","2,220","523,700","17,700",91,52,40,12,5,46
Industry_code_ANZSIC06,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,...,"ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [100]:
df.sort_index(axis=1)

,Industry_aggregation_NZSIOC,Industry_code_ANZSIC06,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Value,Variable_category,Variable_code,Variable_name,Year
0,Level 1,ANZSIC06 divisions A-S (excluding classes K633...,99999,All industries,Dollars (millions),930995,Financial performance,H01,Total income,2023
1,Level 1,ANZSIC06 divisions A-S (excluding classes K633...,99999,All industries,Dollars (millions),821630,Financial performance,H04,"Sales, government funding, grants and subsidies",2023
2,Level 1,ANZSIC06 divisions A-S (excluding classes K633...,99999,All industries,Dollars (millions),84354,Financial performance,H05,"Interest, dividends and donations",2023
3,Level 1,ANZSIC06 divisions A-S (excluding classes K633...,99999,All industries,Dollars (millions),25010,Financial performance,H07,Non-operating income,2023
4,Level 1,ANZSIC06 divisions A-S (excluding classes K633...,99999,All industries,Dollars (millions),832964,Financial performance,H08,Total expenditure,2023
...,...,...,...,...,...,...,...,...,...,...
50980,Level 3,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",ZZ11,Food product manufacturing,Percentage,52,Financial ratios,H37,Quick ratio,2013
50981,Level 3,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",ZZ11,Food product manufacturing,Percentage,40,Financial ratios,H38,Margin on sales of goods for resale,2013
50982,Level 3,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",ZZ11,Food product manufacturing,Percentage,12,Financial ratios,H39,Return on equity,2013
50983,Level 3,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",ZZ11,Food product manufacturing,Percentage,5,Financial ratios,H40,Return on total assets,2013
50984,Level 3,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",ZZ11,Food product manufacturing,Percentage,46,Financial ratios,H41,Liabilities structure,2013

In [101]:
df.sort_values("Value")

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
27424,2018,Level 4,QQ111,Hospitals,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 group Q840
47238,2013,Level 4,CC411,Printing,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 groups C161 and C162
47202,2013,Level 3,CC41,Printing,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 groups C161 and C162
3270,2023,Level 4,KK121,Life Insurance,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 group K631
32685,2016,Level 4,AA131,Dairy Cattle Farming,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 group A016
...,...,...,...,...,...,...,...,...,...,...
49887,2013,Level 4,LL122,Non-Residential Property Operation,Dollars (millions),H27,Additions to fixed assets,Financial position,S,ANZSIC06 class L671200
31347,2017,Level 4,LL122,Non-Residential Property Operation,Dollars (millions),H27,Additions to fixed assets,Financial position,S,ANZSIC06 class L671200
40219,2015,Level 3,KK11,Finance,Dollars (millions),H26,Fixed tangible assets,Financial position,S,"ANZSIC06 groups K621, K622, K623, and K624"
40221,2015,Level 3,KK11,Finance,Dollars (millions),H28,Disposals of fixed assets,Financial position,S,"ANZSIC06 groups K621, K622, K623, and K624"
40618,2015,Level 4,LL122,Non-Residential Property Operation,Dollars (millions),H28,Disposals of fixed assets,Financial position,S,ANZSIC06 class L671200